<.flash_group flash={@flash} />

<div class="bg-[#f6f8ff] h-[100vh] font-mono">
<div class="md:w-[550px] lg:w-[35vw] md:ml-[30%]">
<div class="flex mx-4 justify-between pt-4">
<h1 class="font-bold mt-2 text-xl">devfinder</h1>
<div class="cursor-pointer">
  <div class="flex text-[#697c9a]">
    <h4>DARK</h4>
    <.icon name="hero-moon-solid" class="ml-1 w-5 h-5" />
  </div>
  <div class="flex">
    <h4>LIGHT</h4>
    <.icon name="hero-sun-path" class="ml-1 w-5 h-5" />
  </div>
</div>
</div>
<form class="mx-4 mt-5 shadow-lg rounded-lg">   
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
        <div class="relative">
            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
            </div>
            <input type="search" id="default-search" class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search GitHub username..." required>
            <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
        </div>
</form>
<section class="bg-[#ffffff] mx-4 mt-3 rounded-lg shadow-lg space-y-5">
  <div class="flex mx-3 pt-6">
    <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="" class="h-20"/>
    <div class="ml-6">
      <h3>The Username</h3>
      <a href="" class="text-[#0079ff]">@username</a>
      <span class="block">Date Joined</span>
    </div>
  </div>
  <p class="mx-3">Bio:Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  <div class="bg-[#f6f8ff] mx-7 flex text-center justify-between p-6">
    <div class="text-center">
      <h4>Repos</h4>
      <span class="font-bold">40</span>
    </div>
    <div class="text-center">
      <h4>Followers</h4>
      <span class="font-bold">1000</span>
    </div>
    <div class="text-center">
      <h4>Following</h4>
      <span class="font-bold">1</span>
    </div>
  </div>
  <div>
    <ul class="ml-5 space-y-2 pb-3">
      <li>
        <.icon name="hero-map-pin-solid" class="ml-1 w-4 h-4 text-[#697c9a]" />
        <a href="">Location</a>
      </li>
      <li>
        <.icon name="hero-link-solid" class="ml-1 w-4 h-4 text-[#697c9a]" />
        <a href="">Link</a>
      </li>
      <li>
        <.icon name="hero-arrow-path" class="ml-1 w-3 h-3 " />
        <a href="">Twitter</a>
      </li>
      <li>
        <.icon name="hero-arrow-path" class="ml-1 w-3 h-3 text-[#697c9a]" />
        <a href="">@github</a>
      </li>
    </ul>
  </div>
</section>
</div>
</div>